<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>rec_reg</title>
    <link rel="stylesheet" href= {% static 'assets/bootstrap/css/bootstrap.min.css' %} />
    <link rel="stylesheet" href="static/assets/css/Login-Form-Basic-icons.css" />    
  </head>

  <body>
    <nav class="navbar navbar-light navbar-expand-md py-3">
      <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="#"></a
        ><button
          data-bs-toggle="collapse"
          class="navbar-toggler"
          data-bs-target="#navcol-2"
        >
          <span class="visually-hidden">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-2">
          <img src="static/assets/img/Bias.png" width="207" height="57" />
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#" style="margin-right: 6px"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="margin-right: 2px"
                >About Us</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#features"
                target="_parent"
                style="margin-right: 2px"
                >Features</a
              >
            </li>
          </ul>
          <a
            class="btn btn-primary ms-md-2"
            role="button"
            href="#"
            style="margin-right: 3px"
            >Login</a
          >
        </div>
      </div>
    </nav>
    <section class="py-4 py-xl-5">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2 class="fs-1 fw-bold">Recruiter Registration</h2>
            <p>
              Use this form to get yourself registered on the platform.<br />You'll
              be able to post job vacancies.&nbsp;
            </p>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 col-xl-4">
            <div class="card mb-5">
              <div class="card-body d-flex flex-column align-items-center">
                <img
                  src="static/assets/img/Bias.png"
                  width="257"
                  height="69"
                  style="padding-bottom: 0px; margin-bottom: 38px"
                />
                <form class="text-center" method="POST">
                  {% csrf_token %}
                  <div class="mb-3"></div>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Name"
                    name="name"
                    style="margin-bottom: 10px; margin-top: -32px"
                  />
                  <div class="mb-3">
                    <input
                      class="form-control"
                      type="email"
                      name="email"
                      placeholder="Email"
                      style="margin-bottom: 10px"
                    /><input
                      class="form-control"
                      type="text"
                      name="cname"
                      placeholder="Company name"
                      style="margin-bottom: 10px"
                    /><input
                      class="form-control"
                      type="password"
                      name="password"
                      placeholder="Password"
                      style="margin-bottom: 10px"
                    />
                  </div>
                  <div class="mb-3">
                    <button class="btn btn-primary d-block w-100" type="submit">
                      Register
                    </button>
                  </div>
                  <p class="text-muted"><a href = {% url 'Login' %} >Already have an account? </a></</p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
