<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Home - Bias Breaker</title>
    <meta
      name="description"
      content="A revolutionary new platform designed to help reduce gender bias in the hiring process."
    />
    <link rel="stylesheet" href= {% static
    'assets/bootstrap/css/bootstrap.min.css' %} />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="static/assets/css/Navbar-Centered-Links-icons.css"
    />
  </head>

  <body>
    <nav class="navbar navbar-light navbar-expand-md py-3">
      <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="#"></a
        ><button
          data-bs-toggle="collapse"
          class="navbar-toggler"
          data-bs-target="#navcol-2"
        >
          <span class="visually-hidden">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-2">
          <img src="static/assets/img/Bias.png" width="207" height="57" />
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#" style="margin-right: 6px"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="margin-right: 2px"
                >About Us</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#features"
                target="_parent"
                style="margin-right: 2px"
                >Features</a
              >
            </li>
          </ul>
          <a
            class="btn btn-primary ms-md-2"
            role="button"
            href="#"
            style="margin-right: 3px"
            >Login</a
          >
        </div>
      </div>
    </nav>
    <section class="py-4 py-xl-5">
      <div class="container h-100">
        <div class="row h-100" style="padding-bottom: 0px">
          <div
            class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center"
          >
            <div>
              <h2
                class="display-3 text-uppercase fs-2 fw-bold mb-3"
                style="padding-bottom: 16px; margin-top: 19px"
              >
                Empowering talent, embracing diversity<br /><span
                  style="font-weight: normal !important"
                  >Skills above stereotypes</span
                >
              </h2>
              <p class="fs-5 mb-4">
                A revolutionary platform that aims to reduce gender bias and
                discrimination in the hiring process and workplace. Our platform
                ensures fair opportunities for all by hiding the gender and name
                of the applicant from recruiters, encouraging gender-neutral
                language in job postings, and rewarding recruiters for
                demonstrating gender-neutral behavior.
              </p>
              <button
                class="btn btn-outline-primary fs-5 py-2 px-4"
                type="button"
                style="margin-top: 12px"
              >
                Get Started
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img src="static/assets/img/1.png" width="428" height="428" />
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4" id="features">
                <strong>Blind Screening</strong>
              </h2>
              <p>
                Our platform ensures that job applicants' personal information,
                such as name and gender, is concealed from recruiters until the
                screening process is complete, promoting unbiased hiring
                practices and creating equal opportunities for candidates from
                all backgrounds.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <img src="static/assets/img/2.png" width="428" height="428" />
            </div>
          </div>
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <h2 class="display-4">
                <strong>Gender-neutral job descriptions</strong>
              </h2>
              <p>
                Our platform uses natural language processing to identify and
                remove gendered language from job descriptions. By doing so, we
                help employers create a more welcoming and inclusive work
                environment, leading to better hiring outcomes and a more
                diverse workplace.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img src="static/assets/img/3.png" width="428" height="428" />
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">
                <strong>Point system for recruiters</strong>
              </h2>
              <p>
                Recruiters can earn points by submitting gender-neutral
                paragraphs to increase their credibility. Additionally, a
                minimum point requirement ensures only non-biased recruiters can
                post jobs. Points can also be purchased, providing flexibility
                and ease of use for all recruiters.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <img src="static/assets/img/4.png" width="428" height="428" />
            </div>
          </div>
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <h2 class="display-4">
                <strong>Community-driven feedback</strong>
              </h2>
              <p>
                The community-driven feedback feature allows job applicants to
                provide feedback on their application experience, enabling the
                system to identify areas of bias or any issues that may need to
                be addressed. This feedback is then used to improve the
                application process and further reduce any potential gender
                bias.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer
      class="py-5 bg-black"
      style="height: 70; padding-top: 0px; padding-bottom: 0px"
    >
      <div class="container" style="padding-top: 0px; margin-top: -6px">
        <p class="text-center text-white m-0 medium">
          Copyright&nbsp;© Bias Breaker 2023
        </p>
      </div>
    </footer>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
